.menu-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto 1fr;
}

.food-title {
  text-decoration: underline;
}

.food-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.food-item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
